.nameInput,
.ageInput,
.priceInput,
.cityInput,
.aboutInput,
.heightInput,
.parametersInput,
.legInput,
.genderSelect{
    border: 0;
    height: 20px;
    align-items: end;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: left;

    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);

    width: 180px;
}

.aboutInput {
    margin-top: 5px;
    width: 80vw;
    height: 80px;
}
textarea:focus, input:focus{
    outline: none;
}



.Add {
    display: flex;
    flex-direction: column;
}


.headerText {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    text-align: left;
    margin-left: 5vw;
    margin-top: 5vh;
}

.inputLabel {
    background-color: var(--tg-theme-secondary-bg-color);
    border-radius: 20px;
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 20px;
}

.inputLabelText {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-left: 20px;
    color: #ABABAB;
}

.infoInputBox {
    display: flex;
}

.infoInputBoxAbout {
    display: flex;
    flex-direction: column;
}

.inputTypeText {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 200px;
}


.line {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 0px;
    border: 0px solid;
    color: var(--color-borders);

}

.submitBtn {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
     

    border: 0;
    color: var(--tg-theme-text-color);
    height: 50px;
    width: 200px;
    margin-left: 35vw;
    background: var(--tg-theme-button-color);
    border-radius: 20px;
    margin-top: 10px;

}

.fileBtn {
    color: white;
    background-color: red; /* Синий цвет */
    border: none;
    border-radius: 8px; /* Закругленные углы */
    cursor: pointer;

    padding: 5px;
    padding-left: 15px;
    width: 120px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    text-align: left;
  }

input::file-selector-button {
    display: none;
}

.modelName { 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 22px;
    
    margin-left: 20px;
    margin-bottom: 10px;
    width: 30px;
     
  }

.myItems {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.delButton {
    width: 130px;
    height: 30px;
    
    margin-left: auto; /* Добавлено */
    
    background: var(--tg-theme-button-color);
    border-radius: 20px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    
    color: var(--tg-theme-button-text-color);

}

.image-upload>input {
    display: none;
}
.inputFileBox {
    background-color: var(--tg-theme-button-color);
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    display: flex; /* Добавляем flexbox */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
}

.fileUploadBtn {
    width: 16px; /* ширина кнопки */
    height: 16px; /* высота кнопки */
    background-color: var(--tg-theme-button-text-color);;
    -webkit-mask-image: url('back.svg');
    mask-image: url('back.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
}


.ant-form-item .ant-form-item-label > label {
    color: var(--tg-theme-text-color) !important; /* Устанавливаем красный цвет с приоритетом */
}

.ant-select-selector, .ant-input, .ant-input-number {
    border-color: var(--tg-theme-text-color) !important;
    background: var(--tg-theme-bg-color) !important;
}

.ant-input,
.ant-input::placeholder,
.ant-input-number-input,
.ant-select-selector::placeholder,
.ant-input-number-input::placeholder,
.ant-select-selection-placeholder,
.ant-select-selection-item {
    color: var(--tg-theme-text-color) !important;
}

input {
    background: var(--tg-theme-bg-color) !important;
}

.ant-upload-list-item{
    background: #FFFFFF !important;
}