body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none; /* Убирает подчеркивание */
  cursor: pointer; /* Если нужно, чтобы курсор был как у кнопки */
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Убирает скроллбар для всего документа */
* {
  -ms-overflow-style: none;  /* Для IE и Edge */
  scrollbar-width: none;      /* Для Firefox */
}

*::-webkit-scrollbar {
  display: none;  /* Для Chrome, Safari и других браузеров на базе WebKit */
}